*.netbeans_automatic_build
*.netbeans_update_resources
*.class
Ale/Prueba001/nbproject/private/private.properties
Ale/Prueba001/nbproject/private/private.xml
/Ju/Proyect_test/nbproject/private/
/Ju/Proyect_test/build/
/Ju/Prueba2/nbproject/private/
/Ju/Prueba2/build/