*.netbeans_automatic_build
*.netbeans_update_resources
*.class
Ale/Prueba001/nbproject/private/private.properties
Ale/Prueba001/nbproject/private/private.xml
/Pedro/ProyectoPrueba/nbproject/private/
/Pedro/ProyectoPrueba/build/